{% extends 'catalog/main.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    <img src="{{ product.image.url }}" height="250">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text">Цена в рублях за единицу: {{ product.price }}</p>
  </div>
  <div class="card-footer text-body-secondary">
    <div class="btn">
      <button type="button" class="btn btn-primary">Связаться</button>
    </div>
  </div>
</div>
{% endblock %}
